#content {
    padding-top: 100px;
    margin-left: 30px;
}

.high {
    color: green;
}

.medium {
    color: orange;
}

.normal {
    color: gray
}

.low {
    color: red;
}

.enjoy {
    color: green;
    font-size: larger;
    font-weight: bold;
}

.distracted{
    color: orange;
    font-size: larger;
    font-weight: bold;
}

.confused{
    color: red;
    font-size: larger;
    font-weight: bold;
}